*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #042104;
    animation: animateColor 8s linear infinite;
}

@keyframes animateColor {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

section .contenedor {

    display: flex;
}

section .contenedor .circle {
    position: relative;
    width: 150px  ;
    height: 150px;
    margin: 0 -7.5px;
}

section .contenedor .circle span{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
    /*360 / 20 = 18deg */
}

section .contenedor .circle span::before {
    content: "";
    position: absolute;
    right: 0;
    top: calc(50% - 7.5px);
    width: 15px;
    height: 15px;
    background: #f80303;
    border-radius: 50%;
    box-shadow:  0 0 10px #f80303,
    0 0 20px #f80303,
    0 0 40px #f80303,
    0 0 60px #f80303,
    0 0 80px #f80303,
    0 0 100px #f80303;
    transform: scale(0.1);
    animation:  animate 4s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
    transform: scale(1); 

    }
    50%,100% {
        transform: scale(0.1);
    }
}

section .contenedor .circle:nth-child(2) {
    transform: rotate(-180deg) ;
}

section .contenedor .circle:nth-child(2) span::before {
    animation-delay: calc(-0.1s * var(--i));
}
