*{
    margin:0;
    padding-left:10px;
    box-sizing: border-box;
    color: white;
  
   
}

header{
    width:100%;
    padding: 0;
}

body{
    min-height: 100vh;
    background: linear-gradient( rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/d76f2d48-c317-4350-a881-55654f957275.jpeg) no-repeat center;
    background-size: cover;
   
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
 .logo{
     padding: 0%;
 }

 .main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
     
 li{
     display: flex;
     gap:27px;
    
 }
 a{
     text-decoration: none;
 }

 h4{
     font-size: 22px;
 }
 .sec1__botones{


 }
 .sec1__btn1{
    padding: 7px;
    width: 95px;
    border-radius: 33px;
    background-color: transparent;
    margin: auto;
}
.sec1__btn2{
   padding: 13px;
   width: 132px;
   border-radius: 33px;
   background-color: transparent;
   
   margin: auto;
   margin-left: 92px;
}


 .sec1__section{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .sec1__texto{
    width: 100%;
 }
 .sec1__titulo {
     font-size: 64px;
    padding-bottom: 40px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}
.sec1__img--principal >img{
    border-radius: 57px;
    padding: 0px 43px 0px 43px;
}
   
