* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-lotie: linear-gradient(to right, #ff9472, #f2709c);
  --color-logo: #ff9999;
  --color-parrafo: #34384df9;
  --color-fondo: #ff9999;
  --color-indicador: #ff9999;
  --color-nav: #f56e6e;
  --color-secondary: #f56e6e;
  --color-white: #FFFFFF;
  --color-black: #34384D;
  --color-text-primary: #ff9999;
  --color-text-secondary: #E1E1E1;
  --color-txbtnprimary: wheat;
  --color-clippath: #f56e6e;
  --color-btntheme: black;
  --btn-menu: black;
  --btn-menuicon: white;
}

.light-mode {
  --color-fondo: #34384D;
  --color-indicador: wheat;
  --color-white: #34384D;
  --color-black: wheat;
  --color-parrafo: #ffffffea;
  --color-lotie: linear-gradient(to right, #49a09d, #5f2c82);
  --color-nav: wheat;
  --color-txbtnprimary: black;
  --color-clippath: wheat;
  --color-btntheme: wheat;
  --btn-menuicon: crimson;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: var(--color-white);
  font-size: 1.1rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header {
  min-height: 100vh;
  display: block;
}

@media screen and (min-width: 600px) {
  header {
    height: 100vh;
  }
}

section {
  min-height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

p {
  color: var(--color-black);
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}

h1 {
  font-size: 2.2rem;
  color: var(--color-black);
}

h2 {
  font-size: 20px;
}

h4 {
  color: var(--color-black);
}

.section {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.sec1 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  background-color: var(--color-fondo);
}

.sec2 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  background-color: var(--color-white);
}

.sec3 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  background-color: var(--color-white);
}

.sec4 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  background-color: var(--color-white);
}

.sec5 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  background-color: var(--color-white);
}

.active {
  display: block;
  -webkit-animation: scaleAnim .8s ease-in-out;
          animation: scaleAnim .8s ease-in-out;
}

@-webkit-keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(100%) scale(0);
            transform: translateY(100%) scale(0);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(100%) scale(0);
            transform: translateY(100%) scale(0);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

.navigation {
  width: 100%;
  height: 70px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(240, 182, 253, 0.7108)), color-stop(rgba(220, 84, 254, 0.3147)), to(rgba(204, 6, 254, 0)));
  background: linear-gradient(rgba(240, 182, 253, 0.7108), rgba(220, 84, 254, 0.3147), rgba(204, 6, 254, 0));
  background: var(--color-nav);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px 10px 0 0;
  bottom: 0;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 40px;
  font-size: 1.5rem;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: var(--btn-menuicon);
  line-height: 33px;
  font-size: 1.6rem;
}

.navigation ul li a .icon .fa-whatsapp {
  font-size: 2rem;
}

.navigation ul li a .text {
  position: absolute;
  font-weight: 400;
  font-size: .75rem;
  color: var(--color-white);
  letter-spacing: 0.05rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  margin-top: 5px;
}

.navigation ul li:nth-child(1).active-btn-nav ~ .indicator {
  -webkit-transform: translateX(calc(70px * 0));
          transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active-btn-nav ~ .indicator {
  -webkit-transform: translateX(calc(70px * 1));
          transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active-btn-nav ~ .indicator {
  -webkit-transform: translateX(calc(70px * 2));
          transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active-btn-nav ~ .indicator {
  -webkit-transform: translateX(calc(70px * 3));
          transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active-btn-nav ~ .indicator {
  -webkit-transform: translateX(calc(70px * 4));
          transform: translateX(calc(70px * 4));
}

.navigation ul .active-btn-nav .icon {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
}

.navigation ul .active-btn-nav .text {
  opacity: 1;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  color: black;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.navigation ul .indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: var(--btn-menu);
  border-radius: 50%;
  border: 6px solid var(--color-indicador);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navigation ul .indicator::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
}

.navigation ul .indicator::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
}

.theme-btn {
  top: 25px;
  right: 2.5%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--color-btntheme);
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.theme-btn:active {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.theme-btn i {
  font-size: 1.4rem;
  color: var(--color-white);
  pointer-events: none;
}

.titulos {
  font-family: 'Roboto';
  font-weight: 900;
  margin-top: 16px;
  color: var(--color-black);
  top: 29px;
  height: -8px;
  left: 9px;
}

.sec1__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec1__container .sec1__logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.sec1__container .sec1__subtitulo {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 22px;
  margin-top: 16px;
  color: var(--color-black);
}

.sec1__container .sec1__clippath {
  width: 65%;
  height: 100%;
  background-color: var(--color-clippath);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(0 36%, 0 35%, 100% 100%, 0 100%);
          clip-path: polygon(0 36%, 0 35%, 100% 100%, 0 100%);
  z-index: -1;
}

.sec1__container .sec1__iconos {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 4px;
  bottom: 222px;
  gap: 11px;
}

.sec1__container .facebook,
.sec1__container .whatsapp {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sec1__container .facebook:active,
.sec1__container .whatsapp:active {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.sec1__container .twitter,
.sec1__container .youtube {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sec1__container .twitter:active,
.sec1__container .youtube:active {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.sec1__container .instagram,
.sec1__container .tiktok {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sec1__container .instagram:active,
.sec1__container .tiktok:active {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.sec1__container .sec1__whatsapp {
  position: absolute;
  top: 17px;
  left: 17px;
}

.sec1__container .sec1__header {
  position: absolute;
  bottom: 67px;
  right: 2px;
}

#todos {
  scroll-margin: 500px;
}

#accesorios {
  margin-top: 50px;
  scroll-margin: 83px;
}

#alimentos {
  margin-top: 50px;
  scroll-margin: 83px;
}

#perros {
  margin-top: 50px;
  scroll-margin: 83px;
}

#gatos {
  margin-top: 50px;
  scroll-margin: 83px;
}

#nosotros {
  margin-top: 12px;
  scroll-margin: 350px;
}

#novedades {
  scroll-margin: 700px;
}

#ofertas {
  scroll-margin: 470px;
}

#blog {
  scroll-margin: 41px;
}

.sec2__container {
  width: 100%;
  min-height: 100vh;
  padding: 3px 10px;
  margin: 0 auto;
}

.sec2__container .sec__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.sec2__container .sec2__botones {
  position: -webkit-sticky;
  position: sticky;
  padding-bottom: 44px;
  top: 20px;
  min-width: 103%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  color: var(--color-txbtnprimary);
  scrollbar-width: none;
  z-index: 1;
}

.sec2__container .sec2__boton--1 {
  padding: 10px 20px;
  width: 84px;
  height: auto;
  margin-right: 10px;
  border-radius: 10px;
  background-color: var(--color-black);
}

.sec2__container .sec2__boton--1:hover {
  background-color: var(--color-text-primary);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
          box-shadow: #26394d 0px 20px 30px -10px;
}

.sec2__container .sec2__boton {
  padding: 10px 20px;
  position: static;
  width: 100%;
  margin: 0px 10px;
  background: var(--color-black);
  border-radius: 10px;
  text-align: center;
}

.sec2__container .sec2__boton:hover {
  background-color: var(--color-logo);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
          box-shadow: #26394d 0px 20px 30px -10px;
}

.sec2__container .sec2__articulos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  margin-top: 28px;
  margin-left: 0px;
}

.sec2__container .sec2__articulos .sec2__articulo {
  margin: 0 auto;
  margin-bottom: 33px;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  padding: 7px;
}

.sec2__container .sec2__articulos .sec2__articulo:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.sec2__container .sec2__articulos .sec2__articulo img {
  width: 150px;
  height: 150px;
}

.sec2__container .sec2__articulos .sec2__articulo .sec2__articulo--nombre {
  margin-top: 10px;
  color: var(--color-secondary);
  text-transform: uppercase;
}

.sec2__container .sec2__articulos .sec2__articulo span {
  color: var(--color-black);
}

.sec2__container .sec2__articulos .hover-articulo {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: rgba(255, 153, 153, 0.6);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */
}

.sec2__container .sec2__articulos .hover-articulo h3 {
  font-size: 1rem;
  color: white;
  margin-bottom: 1.5rem;
  text-align: center;
}

.sec2__container .sec2__articulos .hover-articulo .agregar-carrito {
  background: var(--color-black);
  width: 92%;
  position: absolute;
  bottom: 55px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

.sec2__container .sec2__publicidad--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(145px, auto);
  gap: 15px;
  padding: 20px;
  grid-auto-flow: dense;
}

.sec2__container .sec2__publicidad--grid .grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sec2__container .sec2__publicidad--grid .grid-item:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.sec2__container .sec2__publicidad--grid .ancho {
  grid-column: span 2;
}

.sec2__container .sec2__publicidad--grid .alto {
  grid-row: span 2;
}

.sec2__container .margin-bottom-gatos {
  margin-bottom: 90px;
}

.sec2__articulo:hover .hover-articulo {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.sec3__container {
  width: 100%;
  min-height: 100vh;
  padding: 0px 1px;
  margin: 0 auto;
  background: var(--color-lotie);
  /*NOSOTROS*/
  /*OFERTAS*/
  /*BLOG*/
}

.sec3__container .sec3__divlotie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 208px;
  background: var(--color-divlotie);
  margin: auto;
  padding-right: 71px;
}

.sec3__container .sec3__button--push {
  margin: 8px;
  margin-left: 8px;
  height: 56px;
  padding-top: 10px;
}

.sec3__container .sec3__button {
  background: var(--color-black);
  border-radius: 50px;
  position: static;
  position: relative;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.sec3__container .sec3__button:hover {
  -webkit-box-shadow: 0 0 5px #ed4c4c, 0 0 5px #f86161, 0 0 5px #ed4c4c;
          box-shadow: 0 0 5px #ed4c4c, 0 0 5px #f86161, 0 0 5px #ed4c4c;
}

.sec3__container .sec3__lotie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 1px;
}

.sec3__container .sec3__lotie--oferta {
  position: relative;
}

.sec3__container .sec3__novedades {
  font-family: 'Roboto';
  font-weight: 900;
  margin-top: 16px;
  color: var(--color-black);
}

.sec3__container .sec3__botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: -webkit-sticky;
  position: sticky;
  top: 7px;
  gap: 8px;
  padding-bottom: 22px;
  min-width: 96%;
  z-index: 10;
  color: var(--color-white);
}

.sec3__container .sec3__boton {
  padding: 10px 20px;
  width: 35%;
  background: var(--color-black);
  border-radius: 10px;
  text-align: center;
}

.sec3__container .sec3__boton:hover {
  background-color: var(--color-text-primary);
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
          box-shadow: #26394d 0px 20px 30px -10px;
}

.sec3__container .sec3__nosotros {
  margin: auto;
  margin-top: 10px;
  padding-bottom: 20px;
}

.sec3__container .sec3__nosotros p {
  margin-bottom: 79px;
}

.sec3__container .sec3__titulo {
  color: var(--color-black);
  text-align: center;
  padding-bottom: 9px;
  margin: 12px;
}

.sec3__container p {
  padding: 0 20px;
  line-height: 1.6em;
}

.sec3__container .sec3__imagen {
  width: auto;
  margin-top: 20px;
}

.sec3__container .sec3__imagen {
  width: auto;
  margin-top: 20px;
}

.sec3__container .sec3__imagen img {
  width: 90%;
  border-radius: 131px;
  margin: 20px;
  background: #ff9999;
  -webkit-box-shadow: 0 0 5px #ff9999, 0 0 20px #ff9999;
          box-shadow: 0 0 5px #ff9999, 0 0 20px #ff9999;
}

.sec3__container .sec3__ofertas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  margin: 10px;
}

.sec3__container .sec3__ofertas .sec3__oferta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 33px;
  padding: 10px;
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 0 0 5px #ff9999;
          box-shadow: 0 0 5px #ff9999;
}

.sec3__container .sec3__ofertas .sec3__oferta img {
  width: 145px;
  height: 150px;
  margin-bottom: 22px;
}

.sec3__container .sec3__ofertas .sec3__oferta .sec3__producto--nombre {
  color: #34384D;
  text-transform: uppercase;
  text-align: center;
}

.sec3__container .sec3__ofertas .sec3__oferta span {
  color: black;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec3__container .sec3__ofertas .sec3__oferta:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.sec3__container .sec3__ofertas p {
  padding-bottom: 20px;
  line-height: 1.6em;
}

.sec3__container .sec3__titulo2 {
  color: #ff9999;
  text-align: center;
}

.sec3__container .sec3__blog--titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
}

.sec3__container .sec3__blog--intro {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.6em;
  margin: 11px;
}

.sec3__container .sec3__blog--intro p {
  margin-bottom: 7px;
}

.sec3__container .sec3__blog--grid {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 3rem;
}

.sec3__container .sec3__divs {
  -webkit-column-count: 1;
          column-count: 1;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.sec3__container .sec3__post {
  background: var(--color-white);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.8rem;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  border-radius: 10px;
}

.sec3__container .sec3__post h2 {
  color: var(--color-text-primary);
}

.sec3__container .sec3__post p {
  margin-bottom: 0 !important;
  color: var(--color-parrafo);
}

.sec3__container .sec3__post--border {
  position: relative;
}

.sec3__container .sec3__post--txt {
  position: relative;
  background: inherit;
  padding: 0.7rem 1rem 0.3rem;
  width: 100%;
  bottom: 0px;
  margin-bottom: 45px;
}

.sec3__container .sec3__post--txt h2 {
  padding-bottom: 8px;
  padding-top: 10px;
  text-align: center;
}

.sec3__container .sec3__post--categoria {
  font-size: 0.7rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.sec3__container .sec3__post--categoria p {
  margin: 0 0 10px;
  background: var(--color-black);
}

.sec3__container .sec3__post--categoria h2 {
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0p;
          margin-inline-end: 0p;
}

.sec4__container {
  width: 99%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 100px;
}

.borrar-curso {
  background-color: crimson;
  border-radius: 50%;
  padding: 11px 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: absolute;
  right: 10px;
  margin-top: -77px;
}

.sec4__carrito {
  width: 100%;
}

.sec4__carrito tr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15px;
}

.sec4__carrito tbody tr {
  font-size: 17px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (102px)[4];
      grid-template-columns: repeat(4, 102px);
  margin-left: 10px;
  border-top: 1px solid var(--color-black);
  margin-top: 12px;
}

.sec4__carrito tbody tr td {
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boton-vaciar-carrito {
  height: 37px;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5%;
  margin: 10px;
  color: var(--color-white);
  background-color: var(--color-black);
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
          box-shadow: #26394d 0px 20px 30px -10px;
}

.boton-vaciar-carrito:hover {
  color: white;
  background-color: var(--btn-menuicon) !important;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
          box-shadow: #26394d 0px 20px 30px -10px;
}

.sec5__container {
  width: 100%;
  min-height: 120vh;
  padding: 0px 0px;
  margin: 0 auto;
}

.sec5__container .sec__logo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 19px;
  left: 78px;
  background-color: var(--color-white);
  border-radius: 30px;
}

.sec5__container .sec5-info .back-img img {
  width: 100%;
}

.sec5__container .sec5-info .sec5-info__iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.sec5__container .sec5-info .sec5-info__iconos i {
  color: var(--color-black);
}

.sec5__container .sec5-info .sec5-info__iconos i span {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 20px;
}

.sec5__container .sec5-info .sec5-info h4 {
  font-family: "POPPINS", Roboto, Arial, sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: .00625em;
  font-weight: 500;
  margin-top: 30px;
  margin-left: 20px;
  border-top: 1px solid --color-black;
  border-top: 1px solid var(--color-linea);
  width: 90%;
  padding: 18px 0;
}

.sec5__container .sec5-info .sec5-info .sec5-info__flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

.sec5__container .sec5-info .sec5-info .sec5-info__barras {
  margin-left: 20px;
}

.sec5__container .sec5-info .sec5-info .sec5-info__barras .barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.sec5__container .sec5-info .sec5-info .sec5-info__barras .barra .calificacion {
  width: 80%;
  border-radius: 4px;
  height: 8px;
  background-color: #e8eaed;
}

.sec5__container .sec5-info .sec5-info .sec5-info__barras .barra span {
  height: 8px;
  background-color: var(--color-text-primary);
  display: block;
  border-radius: 4px;
}

.sec5__container .sec5-info .sec5-info .sec5-info__barras .barra .c1 {
  width: 70%;
  height: 8px;
  display: block;
  width: 94%;
  border-radius: 4px;
}

.sec5__container .sec5-info .sec5-info .sec5-info__barras .barra .c2 {
  width: 7%;
}

.sec5__container .sec5-info .sec5-info .sec5-info__barras .barra .c3 {
  width: 1.7%;
}

.sec5__container .sec5-info .sec5-info .sec5-info__barras .barra .c4 {
  width: 1.7%;
}

.sec5__container .sec5-info .sec5-info .sec5-info__barras .barra .c5 {
  width: 1.7%;
}

.sec5__container .sec5-info .sec5-info .sec5-info__puntaje {
  text-align: center;
}

.sec5__container .sec5-info .sec5-info .sec5-info__opiniones {
  border-top: 1px solid var(--color-linea);
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-left: 20px;
  padding: 20px;
}

.sec5__container .sec5-info .sec5-info .sec5-info__opiniones .usuarios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
  margin-top: 20px;
}

.sec5__container .sec5-info .sec5-info .sec5-info__opiniones .usuarios p {
  text-align: start;
  margin-left: 25px;
}

.sec5__map {
  height: 350px;
}

#map {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 349px;
  margin-bottom: 50px;
  border-radius: 35px;
  border: 25px solid var(--color-white);
}

#menu {
  position: absolute;
  z-index: 3;
  padding: 7px;
  left: 2px;
  bottom: 6px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 30px;
  background: var(--color-white);
}

.marker {
  background-image: url(../img/ubicacion.png);
  background-size: cover;
  width: 50px;
  height: 50px;
}

.marker::after {
  content: "Pet-Shop";
  position: absolute;
  bottom: -22px;
  left: -7px;
  width: 68px;
  background-color: var(--color-text-primary);
  color: var(--color-white);
  text-align: center;
  border-radius: 32px;
}

.footer {
  width: 100%;
  height: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-black);
}

.footer p {
  color: var(--color-white);
  text-align: center;
  padding-left: -7px;
  margin-top: 23px;
  margin-left: -10px;
  width: 112px;
}

.footer i {
  margin-top: -66px;
  color: var(--color-white);
}

@media screen and (min-width: 600px) {
  .theme-btn {
    width: 50px;
    height: 50px;
    top: 16px;
    right: 7px;
    position: fixed;
  }
  .navigation ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 800px;
  }
  .navigation ul li:nth-child(1).active-btn-nav ~ .indicator {
    -webkit-transform: translateX(calc(182px * 0));
            transform: translateX(calc(182px * 0));
  }
  .navigation ul li:nth-child(2).active-btn-nav ~ .indicator {
    -webkit-transform: translateX(calc(182px * 1));
            transform: translateX(calc(182px * 1));
  }
  .navigation ul li:nth-child(3).active-btn-nav ~ .indicator {
    -webkit-transform: translateX(calc(182px * 2));
            transform: translateX(calc(182px * 2));
  }
  .navigation ul li:nth-child(4).active-btn-nav ~ .indicator {
    -webkit-transform: translateX(calc(182px * 3));
            transform: translateX(calc(182px * 3));
  }
  .navigation ul li:nth-child(5).active-btn-nav ~ .indicator {
    -webkit-transform: translateX(calc(182px * 4));
            transform: translateX(calc(182px * 4));
  }
  .sec1__container .sec1__subtitulo {
    font-size: 36px;
  }
  .sec1__container .sec1__header {
    bottom: 67px;
    right: 789px;
  }
  .sec1__container .sec1__grid-desktop {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 81vh;
  }
  .sec1__container .sec1__grid-desktop .column1 {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .sec1__container .sec1__grid-desktop .column1 .sec1__lottie lottie-player {
    width: 416px !important;
    height: 450px !important;
  }
  .sec1__container .column2 {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .sec1__container .column2 img {
    width: 509px;
    height: 472px;
  }
  .sec2__container {
    padding: 3px 91px;
  }
  .sec2__container h2 {
    font-size: 22px;
  }
  .sec2__container .sec2__articulos {
    -ms-grid-columns: (minmax(14rem, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    -webkit-column-gap: 115px;
            column-gap: 115px;
    row-gap: 40px;
  }
  .sec2__container .sec2__articulos .sec2__articulo {
    padding: 1rem;
  }
  .sec2__container .sec2__articulos .sec2__articulo img {
    width: 283px;
    height: 255px;
  }
}

.sec2__publicidad--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: 20px;
  padding: 0;
  grid-auto-flow: dense;
}

.ancho {
  grid-column: span 2;
}

.alto {
  grid-row: span 2;
}

.sec3__container .sec3__button--push {
  position: absolute;
  left: 20px;
}

.sec3__container .sec3__button--push lottie-player {
  width: 60px !important;
  height: 60px !important;
}

.sec3__container .sec3__botones {
  display: none;
}

.sec3__container .sec3__nosotros {
  width: 50%;
}

.sec3__container .sec3__nosotros h1 {
  letter-spacing: 4px;
}

.sec3__container .sec3__nosotros p {
  letter-spacing: 4px;
  text-align: start;
}

.sec3__container .sec3__titulo--ofertas {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.sec3__container .sec3__titulo--ofertas p {
  letter-spacing: 4px;
  text-align: start;
}

.sec3__container .sec3__ofertas {
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
}

.sec3__container .sec3__ofertas .sec3__oferta {
  width: 200px;
}

.sec3__container .sec3__blog--intro {
  width: 50%;
  margin-bottom: 0;
}

.sec3__container .sec3__divs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 100px;
  row-gap: 16px;
  margin-top: -105px;
}

.sec4__carrito {
  width: 54%;
  color: var(--color-black);
  padding: 1rem;
  margin: 0 auto;
}

.sec4__carrito .borrar-curso {
  right: 336px;
}

.boton-vaciar-carrito {
  color: var(--color-txbtnprimary);
  width: 195px;
  height: 40px;
}
/*# sourceMappingURL=styles.css.map */